{% extends "base.html" %}

{% block content %}



<div class="jumbotron">
  <h1 class="display-3">Create New Cards</h1>
  <p class="lead">Do it here.</p>
  <hr class="my-4">


    <form method="POST">



      {% csrf_token %}
        <td> {{ cardform.student}}</td>
        <td> {{ cardform.stack }}</td>

        <p></p>


        <div class="row">
          <div class="col-sm-6">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Question</h5>
                <p class="card-text">{{ cardform.question }}</p>
                <button type="submit" class="save btn btn-primary">Make card</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Answer</h5>
                <p class="card-text">{{ cardform.answer }}</p>
                <button type="submit" class="save btn btn-primary">Make card</button>
              </div>
            </div>
          </div>
        </div>



    </form>

</div>






{% endblock %}
