{% extends "base.html" %}
{% load static %}
<!-- CSS CUSTOM -->
<link rel=”stylesheet” href="{% static 'cardmaker/card_flip.css' %}">


{% block content %}

<div class="container">
  <div class="row">  <!-- THIS NEEDS EDITING AND ALSO CARD COLUMNS FOR PROPER LINUP ->
  {% for card in list_of_cards %}

    <!-- Card 2 -->
    <div class="card-columns card-container">
      <div class="card-flip">
        <!-- Card 2 Front -->
        <div class="card front">
          <img src="{% static "images/FlashCardImage.svg" %}" class="card-img-top img-fluid">
          <div class="card-body">
            <h4 class="card-title">{{ card.question }}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <!-- End Card 2 Front -->

        <!-- Card 2 Back -->
        <div class="card back">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ card.question }}</h4>
            <p class="card-text">{{ card.answer }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!-- End Card 2 Back -->
      </div>
    </div>
    <!-- End Card 2 -->
{% endfor %}
</div>
  </div>
</div>
<hr>

{% endblock %}
