{% extends "base.html" %}
{% load static %}

{% block content %}

<p></p>

<div class="container">

<div class="card-columns">
  {% for deck in list_of_decks %}
  <div class="card">

    <img src="{% static "images/FlashCardImageDeck.svg" %}" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{ deck.title }} <a href="/deck/show/{{deck.id}}" <span class="badge badge-primary">{{deck.card_set.all|length}}</a></span> </h5>
      <p class="card-text">{{deck.description}}</p>

      <a class="btn btn-info btn-sm" href="/deck/review/{{deck.id}}" role="button">Review</a>
      <a class="btn btn-success btn-sm" href="/deck/{{deck.id}}" role="button">Leitner</a>
    </div>

    <div class="card-footer">
      <small class="text-muted"> by {{deck.creator}}
        · {{ deck.subject }}
        · <a href="/deck/{{deck.id}}">Edit</a>
        · <a href="/deck/delete/{{deck.id}}/">Delete</a>
      </small>
    </div>

  </div>
{% endfor %}
</div>

</div>

<hr>

{% endblock %}
