{% extends "base.html" %}

{% block content %}


      {% for card in list_of_cards %}

          <p></p>

              <div class="container" >
                <div class="row justify-content-center">
                  <div class="col-4">
                    <div class="card">
                      <div class="card-header">
                        {{card.deck}} - {{card.deck.subject}} - by {{card.deck.creator}}
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{ card.question }}</h5>
                        <p class="card-text">{{ card.answer }}</p>
                        <form action="/card/delete/{{card.id}}/" method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary btn-sm" value="Delete card">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      {% endfor %}


{% endblock %}
