{% extends "base.html" %}
{% load static %}


{% block content %}

<p></p>

<div class="container">

  <div class="jumbotron">
    <h1 class="display-3">{{deck.title}}</h1>
    <p class="lead">By {{deck.creator}} in {{deck.subject}}</p>
    <p>{{deck.description}}</p>
    <a class="btn btn-info btn-sm" href="/deck/{{deck.id}}" role="button">Edit Cards</a>
    <a class="btn btn-info btn-sm" href="/deck/rehearse/{{deck.id}}" role="button">Rehearse Cards</a>
    <a class="btn btn-success btn-sm" href="/deck/save/{{deck.id}}" role="button">Save for Study</a>
    </div>

  <div class="card-columns">
    {% for card in list_of_cards %}
    <div class="card">

      <img src="{% static "images/FlashCardImage.svg" %}" class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">{{ card.question }}  </h5>
        <p class="card-text">{{card.answer}}</p>
      </div>

    <div class="card-footer">
      <small class="text-muted">
          {{card.id}}
        · {{card.deck}}
        · {{card.deck.creator}}
        · <a href="/deck/{{card.deck.id}}">Edit</a>
        · <a href="/card/delete/{{card.id}}/">Delete</a>
      </small>

    </div>

  </div>
{% endfor %}
</div>

</div>

<hr>

{% endblock %}
